$bg-color: #ffb8ca;
$menu-bg-color: #e17992;
$primary-color: #d41443;
$secondary-color: #ffffff;
$text-black-color: #000000;
$text-grey-color: #907e82;
$button-primary-color: #c7133e;
$button-secondary-color: #ffffff;
$button-hover-color: #ecebeb;
$ice-cream-pl-bg-color: #ffb8ca;
$ice-coffee-pl-bg-color: #f0d1a5;
$milkshakes-pl-bg-color: #c2e297;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$modal-color: #c7133e;
