<section class="contact" id="Contact">
  <div class="container">
    <div class="contact-div">
      <h1 class="hidden">Contact</h1>
      <article class="contact-card contact-card__anim1">
        <p class="contact-title">cafe</p>
        <ul class="contact-list">
          <li><p class="contact-text">Chicago</p></li>
          <li>
            <p class="contact-sub">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li><p class="contact-date">Moday - Friday</p></li>
          <li><p class="contact-time">06:00 AM - 10:00 PM</p></li>
          <li><p class="contact-date">Saturday - Sunday</p></li>
          <li><p class="contact-time">08:00 AM - 16:00 PM</p></li>
          <li>
            <a class="contact-tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li><a class="contact-mail" href="mailto:">noreply@envato.com</a></li>
        </ul>
      </article>
      <article class="contact-card contact-card__anim2">
        <p class="contact-title contact-title__background-color">FOODTRUCK</p>
        <ul class="contact-list">
          <li><p class="contact-text">Los Angeles</p></li>
          <li>
            <p class="contact-sub">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li><p class="contact-date">Moday - Friday</p></li>
          <li><p class="contact-time">06:00 AM - 10:00 PM</p></li>
          <li><p class="contact-date">Saturday - Sunday</p></li>
          <li><p class="contact-time">08:00 AM - 16:00 PM</p></li>
          <li>
            <a class="contact-tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li><a class="contact-mail" href="mailto:">noreply@envato.com</a></li>
        </ul>
      </article>
      <article class="contact-card contact-card__anim3">
        <p class="contact-title">cafe</p>
        <ul class="contact-list">
          <li><p class="contact-text">New York</p></li>
          <li>
            <p class="contact-sub">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li><p class="contact-date">Moday - Friday</p></li>
          <li><p class="contact-time">06:00 AM - 10:00 PM</p></li>
          <li><p class="contact-date">Saturday - Sunday</p></li>
          <li><p class="contact-time">08:00 AM - 16:00 PM</p></li>
          <li>
            <a class="contact-tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li><a class="contact-mail" href="mailto:">noreply@envato.com</a></li>
        </ul>
      </article>
    </div>
    <div class="contact-modal">
      <a class="btn contact-button contact-button__margin" href="#open-modal"
        >Our Locations
        <svg class="contact-button__svg" width="10px" height="15px">
          <use href="./images/button-arrow.svg#icon-button-arrow"></use>
        </svg>
      </a>
      <button
        type="button"
        class="contact-button contact-button__background-color"
      >
        Franchise
        <svg class="contact-button__svg" width="10px" height="15px">
          <use href="./images/symbol-defs.svg#icon-button-arrow"></use>
        </svg>
      </button>
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#" title="Close" class="modal-close">
            <svg width="15px" height="15px">
              <use href="./images/close-cross-red.svg#close"></use>
            </svg>
          </a>
          <h1>Our location</h1>
          <p>Find us on the map!</p>
          <div class="contact-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11879.668874027699!2d-87.62174871324999!3d41.89463736753213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2caabfd640d1%3A0x86af0f869dc4b0af!2zU3RyZWV0ZXJ2aWxsZSwg0KfQuNC60LDSkdC-LCDQhtC70LvRltC90L7QudGBIDYwNjExLCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1655023395894!5m2!1suk!2sua"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <a
            href="https://chrome.google.com/webstore/detail/chroma/pkgejkfioihnchalojepdkefnpejomgn?utm_campaign=chromapromo&utm_source=codepen.io"
            target="_blank"
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
