<section class="galerry" id="Our_products">
  <h2 class="hidden">Gallery</h2>
  <div class="container container--gallery">
    <div class="gallery__box gallery__one">
      <div class="gallery__img-box one">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/one.webp    500w,
              ./images/gallery-images/onex2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/one.jpg    500w,
              ./images/gallery-images/onex2.jpg 1000w
            "
            src="./images/gallery-images/one.jpg"
            alt="technokryak"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see">See</p>
      </div>
    </div>
    <div class="gallery__box gallery__two">
      <div class="gallery__img-box two">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/two.webp    500w,
              ./images/gallery-images/twox2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/two.jpg    500w,
              ./images/gallery-images/twox2.jpg 1000w
            "
            src="./images/gallery-images/two.jpg"
            alt="two"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see"><span>See</span></p>
      </div>
      <div class="gallery__img-box three">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/three.webp    500w,
              ./images/gallery-images/threex2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/three.jpg    500w,
              ./images/gallery-images/threex2.jpg 1000w
            "
            src="./images/gallery-images/three.jpg"
            alt="three"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see">See</p>
      </div>
    </div>
    <div class="gallery__box gallery__three">
      <div class="gallery__img-box four">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/four.webp    500w,
              ./images/gallery-images/fourx2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/four.jpg    500w,
              ./images/gallery-images/fourx2.jpg 1000w
            "
            src="./images/gallery-images/four.jpg"
            alt="four"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see">See</p>
      </div>
      <div class="gallery__img-box five">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/five.webp    500w,
              ./images/gallery-images/fivex2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/five.jpg    500w,
              ./images/gallery-images/fivex2.jpg 1000w
            "
            src="./images/gallery-images/five.jpg"
            alt="five"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see">See</p>
      </div>
    </div>
    <div class="gallery__box tr-one gallery__four">
      <div class="gallery__img-box six">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/six.webp    500w,
              ./images/gallery-images/sixx2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/six.jpg    500w,
              ./images/gallery-images/sixx2.jpg 1000w
            "
            src="./images/gallery-images/six.jpg"
            alt="six"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see">See</p>
      </div>
      <div class="gallery__img-box seven">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/seven.webp    500w,
              ./images/gallery-images/sevenx2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/seven.jpg    500w,
              ./images/gallery-images/sevenx2.jpg 1000w
            "
            src="./images/gallery-images/seven.jpg"
            alt="seven"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see">See</p>
      </div>
    </div>
    <div class="gallery__box tr-two gallery__five">
      <div class="gallery__img-box eight">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/eight.webp    500w,
              ./images/gallery-images/eightx2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/eight.jpg    500w,
              ./images/gallery-images/eightx2.jpg 1000w
            "
            src="./images/gallery-images/eight.jpg"
            alt="eight"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see">See</p>
      </div>
      <div class="gallery__img-box nine">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/nine.webp    500w,
              ./images/gallery-images/ninex2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/nine.jpg    500w,
              ./images/gallery-images/ninex2.jpg 1000w
            "
            src="./images/gallery-images/nine.jpg"
            alt="nine"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see">See</p>
      </div>
    </div>
    <div class="gallery__box tr-three gallery__six">
      <div class="gallery__img-box ten">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/gallery-images/ten.webp    500w,
              ./images/gallery-images/tenx2.webp 1000w
            "
            type="image/webp"
            sizes="(min-width: 320px) 100vw"
          />
          <img
            srcset="
              ./images/gallery-images/ten.jpg    500w,
              ./images/gallery-images/tenx2.jpg 1000w
            "
            src="./images/gallery-images/ten.jpg"
            alt="ten"
            sizes="(min-width: 320px) 100vw"
          />
        </picture>
        <p class="galerry__see">See</p>
      </div>
    </div>
  </div>
</section>
