<header class="header">
  <div class="container">
    <a class="header__logo" href="">
      <svg class="logo-icon" width="199" height="50px">
        <use href="./images/symbol-defs.svg#icon-header-logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="header-nav__list list">
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#hero">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#About_us">About us</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#How_its_made"
            >How it’s made?</a
          >
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#Our_products">Our products</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#Contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="tel-menu-open" type="button">
      <svg width="20" height="12">
        <use href="./images/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
    <button data-modal-open class="header__tablet-button" type="button">
      Buy now
      <svg class="tablet-buttot-svg" width="8" height="11">
        <use href="./images/symbol-defs.svg#icon-button-arrow"></use>
      </svg>
    </button>
  </div>
  <!-- tell menu -->
  <div class="tel-menu">
    <button class="tel-menu-close" type="button">
      <svg class="tel-menu-close__svg" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <button data-modal-open class="tel-menu__button" type="button">
      Buy now
      <svg class="tel-buttot-svg" width="8" height="11">
        <use href="./images/symbol-defs.svg#icon-button-arrow"></use>
      </svg>
    </button>
    <nav>
      <ul class="tel-menu__list list">
        <li class="tel-menu__item">
          <a class="tel-menu__link link1 link" href="#hero">Home</a>
        </li>
        <li class="tel-menu__item">
          <a class="tel-menu__link link2 link" href="#product">About us</a>
        </li>
        <li class="tel-menu__item">
          <a class="tel-menu__link link3 link" href="#how_its_made"
            >How it’s made?</a
          >
        </li>
        <li class="tel-menu__item">
          <a class="tel-menu__link link4 link" href="#gallery">Our products</a>
        </li>
        <li class="tel-menu__item">
          <a class="tel-menu__link link5 link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script src="./js/menu.js"></script>
