<section class="about" id="How_its_made">
  <div class="container container--about">
    <p class="about__top-text">tradition and love</p>
    <h2 class="about__top-title">how it’s made?</h2>
    <div class="about__content">
      <div class="about__picture">
        <picture class="about__img">
          <source
            srcset="
              ./images/desktop/cow-desktop-1x.png 1x,
              ./images/desktop/cow-desktop-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/tablet/cow-tablet-1x.png 1x,
              ./images/tablet/cow-tablet-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/cow-mobile-1x.png 1x,
              ./images/mobile/cow-mobile-2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/desktop/cow-desktop-1x.png"
            alt="cow"
            class="about__img"
          />
        </picture>
      </div>
      <div class="about__inform">
        <h4 class="about__second-title">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </h4>
        <p class="about__second-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__bottom-text">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__btn">
          <span> Read more </span>
          <svg class="about__icon" width="6" height="10">
            <use href="/src/images/symbol-defs.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <h2 class="hidden">Advantages</h2>
    <ul class="about-advantages-list list">
      <li class="about-advantages-list__item first">
        <h3 class="about-advantages-list__title">721</h3>
        <p class="about-advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="about-advantages-list__item second">
        <h3 class="about-advantages-list__title">16kg</h3>
        <p class="about-advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="about-advantages-list__item third">
        <h3 class="about-advantages-list__title">84</h3>
        <p class="about-advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
