<section class="section-reviews container">
    <h2 class="hidden">Customer Reviews</h2>
    <div class="slider">
        <div class="slider__item">
            <div class="slider__img--one"></div>
            <div class="slider__box">
                <p class="slider__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <h3 class="slider__name">
                Emily, Los Angeles
            </h3>
        </div>
        <div class="slider__item">
            <div class="slider__img--two"></div>
            <div class="slider__box">
                <p class="slider__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <h3 class="slider__name">
                Dorota, Krakow
            </h3>
        </div>
        <div class="slider__item">
            <div class="slider__img--tree"></div>
            <div class="slider__box">
                <p class="slider__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <h3 class="slider__name">
                Marichka, Kingston
            </h3>
        </div>
    </div>
   </section>